//---------------------------  blocks/basic.scss -------------------------
@font-face {
  font-family: "PT Sans";
  src: url(/app/fonts/PTSans-Regular.ttf);
  src: url(/app/fonts/PTSans-Bold.ttf);
}

$bg-blue: #81b3d2;
$bg-blue-hover: #669ec0;
$bg-blue-down: #5496bd;
$bg-lightgrey: #eeeeee;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

body {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  font-style: normal;
  text-transform: uppercase;
  box-shadow: 0 0 20px 0.5px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  text-align: center;
  padding: 15px 46px;
  background-color: $bg-blue;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//---------------------------  blocks/page-header.scss -------------------------

.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 56px;

  background-color: white;
}

.page-header__nav {
  display: flex;
  width: 280px;

  margin: 0 auto;
  padding: 0 20px;
}

.page-header__logo {
  height: 83px;
  margin-left: auto;
  text-align: center;
  z-index: 1;
}

.page-header__logo-image {
  height: 83px;
  width: 102px;
}

.page-header__toggle {
  position: relative;
  display: block;
  width: 23px;
  height: 22px;
  margin-left: 66px;
  margin-top: 17px;

  cursor: pointer;
  border: none;
  background-color: white;
}

.page-header__toggle--closed::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 4px;

  background-color: $bg-blue;
  box-shadow: 0 8px 0 0 $bg-blue, 0 16px 0 0 $bg-blue;
}

.page-header__toggle--opened {
  &::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 0;

    width: 23px;
    height: 4px;
    transform: rotate(45deg);
    background-color: $bg-blue;
  }

  &::after {
    content: "";

    position: absolute;
    top: 9px;
    left: 0;

    width: 23px;
    height: 4px;
    transform: rotate(-45deg);
    background-color: $bg-blue;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
  }

  .page-header__nav {
    width: 102px;
    padding: 0;
    margin-top: -56px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__nav {
    width: 188px;
  }

  .page-header__logo-image {
    width: 188px;
    height: 96px;
  }
}

//---------------------------  blocks/main-nav.scss -------------------------
.page-main {
  background-color: white;
}

.main-nav {
  display: none;
  width: 100%;

  &-opened {
    display: block;
  }
}
.main-nav__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 10px;
  box-shadow: inset 0 -8px 10px -10px rgba(0, 0, 0, 0.5);
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    min-height: 56px;
  }

  .main-nav__wrapper {
    width: 100%;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}

//---------------------------  blocks/site-list.scss -------------------------

.site-list__item {
  font-weight: bold;
  min-height: 56px;
  word-wrap: break-word;

  background-color: $bg-blue;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:nth-child(1) {
    border-top: none;
  }

  &:nth-child(4) {
    border-bottom: none;
  }
}

.site-list__item a {
  display: block;
  text-align: center;
  padding: 18px 70px;
  color: white;
  font-size: 18px;
  // line-height: 40px;
}

.site-list__item a[href] {
  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #cacaca;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    width: 166px;
    min-height: 56px;
    border: 0;

    background-color: white;

    &:nth-child(2) {
      margin-right: 80px;
    }

    &:nth-child(3) {
      margin-left: 80px;
    }
  }

  .site-list__item a {
    font-size: 14px;
    line-height: 24px;
    padding: 15px 15px;

    color: #000;
  }

  .site-list__item--active a {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: #dbd8d5;
    }
  }
}

@media (min-width: 767px) and (max-width: 824px) {
  .site-list__item {
    &:nth-child(2) {
      margin-right: 51px;
    }

    &:nth-child(3) {
      margin-left: 51px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    width: 253px;
  }
}

//---------------------------  blocks/intro.scss -------------------------

.intro__image-wrapper {
  margin-top: -27px;
  height: 389px;

  background-color: #e5f2fa;
  background-image: url(../../img/bg-image-intro/bg-image-intro.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../../img/bg-image-intro/bg-image-intro@2x.jpg);
  }
}

.intro__image {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
  width: 282px;
  height: auto;
}

.intro__wrapper {
  margin: 0 auto;
  padding: 0 6.25%;
  padding-top: 43px;
  padding-bottom: 32px;

  text-align: center;
}

.intro__slogan {
  display: block;
  margin-bottom: 33px;
  font-size: 18px;
  font-weight: bold;
}

.intro__reasons {
  margin: 0;
  margin-top: 10px;
}

@media (min-width: $tablet-width) {
  .intro__image-wrapper {
    height: 518px;
  }

  .intro__image {
    padding-top: 77px;
    width: 460px;
    height: 350px;
  }

  .intro__wrapper {
    max-width: 550px;
    padding-top: 50px;
    padding-bottom: 48px;
  }

  .intro__slogan {
    margin-bottom: 30px;
    font-size: 21px;
  }

  .intro__slogan br {
    display: none;
  }
}

//---------------------------  blocks/content-top.scss -------------------------

.content-top__habitation {
  position: relative;
  background-color: $bg-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-top__habitation-layer {
  background-color: $bg-blue;
  position: absolute;
  top: 0;
  left: 0;
}

.content-top__habitation-wrapper {
  text-align: center;
  padding: 17% 20px 14% 20px;
  color: white;
}

.content-top__title {
  margin: 0;
  margin-bottom: 14px;
}

.content-top__title br {
  display: none;
}

.content-top__number {
  position: relative;
  margin: 0;
  margin-bottom: 14px;
  line-height: 21px;

  &::before {
    content: "";

    position: absolute;
    left: 40%;
    top: 50%;

    width: 8px;
    height: 2px;

    background-color: rgba($color: white, $alpha: 0.5);
  }

  &::after {
    content: "";

    position: absolute;
    right: 40%;
    top: 50%;

    width: 8px;
    height: 2px;

    background-color: rgba($color: white, $alpha: 0.5);
  }
}

.content-top__description {
  margin: 0;
  margin-top: 10px;
  line-height: 21px;
}

.content-top__image-sity {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .content-top__wrapper {
    display: flex;
  }

  .content-top__habitation {
    width: 33%;
  }

  .content-top__habitation-wrapper {
    padding: 45px;
  }

  .content-top__habitation-layer {
    display: none;
  }

  .content-top__image-sity-wrapper {
    width: 67%;
  }

  .content-top__title br {
    display: block;
  }

  .content-top__number {
    &::before {
      left: 35%;
    }

    &::after {
      right: 35%;
    }
  }

  .content-top__image-sity {
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: $desktop-width) {
  .content-top__number {
    &::before {
      left: 40%;
    }

    &::after {
      right: 40%;
    }
  }

  .content-top__habitation-wrapper {
    padding: 45px 60px;
  }
}

.content-top__advantages-wrapper {
  padding: 0 6.25%;
  margin-top: 40px;
}

.content-top__advantages {
  list-style: none;
  margin-top: 25px;
  margin-bottom: 40px;
  padding: 0;
}

.content-top__item {
  position: relative;
  padding-left: 16%;
  word-wrap: break-word;

  &--houses::before {
    position: absolute;
    content: "";
    width: 39px;
    height: 37px;

    top: -10px;
    left: 0;

    background-image: url(../../img/icon-house.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--souvenirs::before {
    position: absolute;
    content: "";
    width: 39px;
    height: 37px;

    top: -10px;
    left: 0;

    background-image: url(../../img/icon-souvenirs.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--eat::before {
    position: absolute;
    content: "";
    width: 39px;
    height: 37px;

    top: -10px;
    left: 0;

    background-image: url(../../img/icon-eat.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.content-top__title-advantages {
  margin: 0;
}

.content-top__description-advantages {
  margin-top: 24px;
  margin-bottom: 40px;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .content-top__advantages-wrapper {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .content-top__advantages {
    display: flex;
    min-height: 330px;
    margin: 0;
    padding: 0;
  }

  .content-top__item {
    width: 33%;
    padding-top: 160px;
    padding-bottom: 55px;
    padding-right: 45px;
    padding-left: 45px;

    &::before {
      width: 77px;
      height: 75px;
      top: 58px;
      left: calc(50% - 38.5px);
    }

    &--souvenirs {
      order: 1;
    }
  }

  @media (min-width: $desktop-width) {
    .content-top__item {
      padding-right: 50px;
      padding-left: 50px;
    }
  }

  .content-top__title-advantages {
    margin-bottom: 20px;
  }

  .content-top__description-advantages {
    margin-bottom: 10px;
  }
}
//---------------------------  blocks/content-bottom.scss -------------------------

.content-bottom__bridge {
  background-color: $bg-blue;
  min-height: 191px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-bottom__bridge-wrapper {
  text-align: center;
  padding: 14% 6.25%;
  color: #fff;
}

.content-bottom__title {
  margin: 0;
  margin-bottom: 14px;
}

.content-bottom__title br {
  display: none;
}

.content-bottom__number {
  margin: 0;
  margin-bottom: 14px;
  line-height: 21px;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    left: 40%;
    top: 50%;

    width: 8px;
    height: 2px;

    background-color: rgba($color: white, $alpha: 0.5);
  }

  &::after {
    content: "";

    position: absolute;
    right: 40%;
    top: 50%;

    width: 8px;
    height: 2px;

    background-color: rgba($color: white, $alpha: 0.5);
  }
}

.content-bottom__description {
  margin: 0;
  margin-top: 10px;
  line-height: 21px;
}

.content-bottom__image-bridge {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .content-bottom {
    width: 100%;
  }

  .content-bottom__wrapper {
    display: flex;
    min-height: 256px;
  }

  .content-bottom__bridge {
    width: 33%;
    order: 1;
  }

  .content-bottom__bridge-wrapper {
    padding: 45px 45px 48px 45px;
  }

  .content-bottom__title br {
    display: block;
  }

  .content-bottom__number {
    &::before {
      left: 35%;
    }

    &::after {
      right: 35%;
    }
  }

  .content-bottom__image-bridge-wrapper {
    width: 67%;
  }

  .content-bottom__image-bridge {
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: $desktop-width) {
  .content-bottom__number {
    &::before {
      left: 40%;
    }

    &::after {
      right: 40%;
    }
  }

  .content-bottom__bridge-wrapper {
    padding: 45px 90px 48px;
  }
}

.content-bottom__list-wrapper {
  padding: 0 6.25%;
  background-color: $bg-lightgrey;
}

.content-bottom__list {
  position: relative;
  text-align: center;
  padding: 30px 5% 30px;
  color: black;
}

.content-bottom__list:not(:last-child)::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.content-bottom__title-advantages {
  margin: 0;
  margin-bottom: 17px;

  br {
    display: none;
  }
}

.content-bottom__number-advantages {
  margin: 0;
  margin-bottom: 14px;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    left: 40%;
    top: 50%;

    width: 8px;
    height: 2px;

    background-color: rgba($color: black, $alpha: 0.5);
  }

  &::after {
    content: "";

    position: absolute;
    right: 40%;
    top: 50%;

    width: 8px;
    height: 2px;

    background-color: rgba($color: black, $alpha: 0.5);
  }
}

.content-bottom__description-advantages {
  margin: 0;
  margin-top: 10px;
  word-wrap: break-word;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .content-bottom__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 256px;
    padding: 0;
  }

  .content-bottom__list {
    box-sizing: border-box;
    width: 33%;
    padding: 45px;
    padding-bottom: 48px;
  }

  .content-bottom__list::after {
    display: none;
  }

  .content-bottom__title-advantages br {
    display: block;
  }

  .content-bottom__number-advantages {
    &::before {
      left: 35%;
    }

    &::after {
      right: 35%;
    }
  }
}

@media (min-width: $desktop-width) {
  .content-bottom__number-advantages {
    &::before {
      left: 40%;
    }

    &::after {
      right: 40%;
    }
  }
}

//---------------------------  blocks/hotel-search.scss -------------------------

.hotel-search__wrapper {
  padding: 0 6.25%;
  margin-top: 31px;
  margin-bottom: 49px;
  text-align: center;
  word-wrap: break-word;
}

.hotel-search__title {
  font-size: 21px;
  margin: 0;
  margin-bottom: 20px;
}

.hotel-search__description {
  margin: 0;
  margin-top: 10px;

  br {
    display: none;
  }
}

.hotel-search__button {
  margin-top: 40px;
  font-size: 21px;

  &:hover {
    background-color: $bg-blue-hover;
  }

  &:active {
    background-color: $bg-blue-down;
    color: rgba($color: white, $alpha: 0.3);
  }
}

.hotel-search__map {
  display: block;
  min-height: 350px;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .hotel-search__wrapper {
    width: 59.8%;
    max-width: 460px;
    margin: 52px auto 58px;
    padding: 0;
  }

  .hotel-search__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 27px;
  }

  .hotel-search__description br {
    display: block;
  }

  .hotel-search__button {
    margin-top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .hotel-search__wrapper {
    margin: 56px auto 66px;
  }
}

//---------------------------  blocks/page-footer.scss -------------------------

.page-footer {
  width: 100%;
  background-color: white;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 40px 20px 20px;
  text-align: center;
  word-wrap: break-word;
}

.page-footer__hashtag {
  min-width: 140px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.page-footer__hashtag {
  font-size: 21px;
}

.page-footer__social {
  width: 151px;
  margin: 0 auto;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 120px;
  }

  .page-footer__wrapper {
    width: 84%;
    padding: 36px 0 36px;
    display: flex;
    align-items: center;
  }

  .page-footer__hashtag {
    width: 196px;
    margin: 0;
    text-align: start;
  }

  .page-footer__social {
    width: 33%;
  }

  .page-footer__copyright {
    margin: 0;
    width: 196px;
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 80%;
  }
}

//---------------------------  blocks/social__list.scss -------------------------

.social__list {
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.social__item {
  text-align: center;
  width: 46px;
  height: 48px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: $bg-blue;
  cursor: pointer;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover {
    background-color: $bg-blue-hover;
  }

  &:active {
    background-color: $bg-blue-down;
  }
}

.social__link {
  display: inline-block;
  position: relative;
  top: 30%;
}

@media (min-width: $tablet-width) {
  .social__list {
    margin: 0 auto;
    width: 151px;
  }
}

//---------------------------  blocks/copyright.scss -------------------------

.copyright__link {
  margin-left: 10px;

  &:hover {
    path {
      fill: $bg-blue;
    }
  }

  &:active {
    path {
      fill: #b2b2b2;
    }
  }
}
.copyright__logo {
  display: block;
}

.copyright__text {
  margin: 0;
}
